
.ipynb_checkpoints/Testing environment for animations-checkpoint.ipynb
.ipynb_checkpoints/Assignment #2-checkpoint.ipynb
.ipynb_checkpoints/Labwork assignment #2 for P130M100 Nonlinear Dynamical Models-checkpoint.ipynb
